body {
    background-color: hsl(217, 28%, 15%);;
    color:white;
    font-family: 'Raleway', sans-serif,monospace;
    text-align: center;
    margin: 0;
}

p {
    line-height: 1.5;
    color: hsl(0, 0%, 80%);
    font-family: 'Open Sans', sans-serif;
}

div.topleft-container {
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 40px;

}
div.topright-container {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 55px;
    font-size: 1rem;
}

.topright-links {
    color:hsl(0, 0%, 75%);
    padding: 2em 2em 2em 2em;
    text-decoration: none;

}

.topright-links:hover {
    color: hsl(0, 0%, 100%);
}

.logo:hover {
    height: 56px;
    width: 180px;
}

.top-container{
    position: sticky;
    top: -20px;
    background-color:  hsl(217, 28%, 15%);
    height: 120px;
    z-index: 100;
}

.illustration {
    text-align: center;
    margin: auto;    
    padding: 70px 0 20px 0;
    font-stretch: normal;
    line-height: 1.5;
}
img.illustration {
    height: 50%;
    width: 45%;
}

.illu_paragraph {
    width: 35%;
    margin: 0 auto 20px auto;
    font-size: 14px;
    margin: 0 auto 50px auto;
    
}

.butn {
    background: hsl(198, 60%, 50%);
    -background-image: linear-gradient(to bottom, #65E2D9, #65E2DC);
    border: none;
    border-radius: 28px;
    font-family: 'Raleway', sans-serif,monospace;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    width: 200px;
  }
  
  .butn:hover {
    background: #65E2D9;
    background-image: linear-gradient(to bottom, #65E2D9, hsl(198, 60%, 60%));
    text-decoration: none;
    color: black;
  }

  table.main_table {
      text-align: center;
      margin: 100px auto;
  }

  .table_para {
    width: 50%;
    margin: 0 auto 20px auto;
    font-size: 14px;
 }


  .illustration2 {
    display: inline-block;
    text-align: left;
    position: relative;
    right: 150px;
    margin: 100px 0;

  }

  img.stay-productive {
    float: left;
    height: 420px;
    width: 550px;
    margin: 0 10px 0 40px;
  }

  .illustration2-para {
    font-size: 14px;
    width: 140%;
}

.productive-h1 {
    width: 150%;
    margin: 70px auto;
}

.howfyloworks {
    color:hsl(176, 68%, 64%);
}

.inside_table_left {
    position: relative;
    left: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.inside_table_right {
    position: relative;
    right: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.quote-img {
    position: relative;
    right: 500px;
    top: 5px;
}

.reviewboxes {
    display: inline-block;
    height: 170px;
    width: 320px;
    background-color:hsl(219, 30%, 18%);
    margin: 0 20px;
    border-radius: 2%;
    text-align: left;
}

.reviewtext {
    font-size: 12px;
    width: 80%;
    padding: 20px 18px 5px 18px; 
    font-family: 'Open Sans', sans-serif;
}

.profile-img {
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin: 0 4px 0 18px;
}

.profile-name {
    font-weight: bold;
    padding-top: 4px;
    font-size: 12px;
    padding-left: 3px;
    line-height: .5;

}

.profile-designation {
    font-size: 7px;
    padding-left: 3px;
    line-height: .5;
}

.register-box {
    height: 250px;
    width: 60%;
    background-color: hsl(218, 28%, 13%);
    margin: auto;
    position: relative;
    top: 150px;
    border-radius: 6px;
}

h2.getaccess {
    font-size: 25px;
    padding: 35px 0 10px 0;

}

.access-para {
    font-size: 14px;
    width: 80%;
    margin: auto auto 15px auto;
}


input.email_box {
    margin: 15px 10px;
    width: 40%;
    height: 50px;
    border-radius: 28px;
    border: 0px solid;
    height: 15px;
    padding: 10px 15px;
}

.submit_button{
    background-color:hsl(198, 60%, 50%);
    border: none;
    border-radius: 28px;
    width: 30%;
    padding: 10px 15px;
    color:#ffffff;
    font-family: 'Raleway', sans-serif,monospace;
    font-size: 12px;
    font-weight: bold;
}

.submit_button:hover{
    background: #65E2D9;
    /*background-image: -webkit-linear-gradient(top, #3cb0fd, #65E2D9);
    background-image: -moz-linear-gradient(top, #3cb0fd, #65E2D9);
    background-image: -ms-linear-gradient(top, #3cb0fd, #65E2D9);
    background-image: -o-linear-gradient(top, #3cb0fd, #65E2D9);*/
    background-image: linear-gradient(to bottom, #65E2D9, hsl(198, 60%, 60%));
    text-decoration: none;
    color: black;
}

.footer_box {
    width: 100%;
    height: 400px;
    background-color: hsl(216, 53%, 9%);
}


.bottom_logo {
    position: relative;
    top: 200px;
    right: 450px;
}

img.icon {
    float: left;
    margin: auto 10px;
    /* position: relative;
    top: 8px; */

}

p.para {
    font-size: 13px;
    text-align: left;
    width: 300px;
    margin-left: 45px;
}

.footer_box2 {
    width: 100%;
    height: 160px;
    /* background-color: hsl(216, 11%, 64%); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: top;
    position: relative;
    top: 240px;
    margin:0;
}

.location_icon {
    position: relative;
    top: 20px;
}

.un_list {
    list-style: none;
    position: relative;
    right: 30px;
}

.footer_links {
    text-decoration: none;
}

.footer_links:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.social_media{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 200px;
    padding: 10px 10px 10px 30px;
}

.facebook_logo {
    height: 30px;
    width: 30px;
    margin: 10px 15px 10px 15px;

}

.twitter_logo {
    height: 30px;
    width: 30px;
    margin: 10px 15px 10px 15px;
}

.linkedin_logo{
    height: 30px;
    width: 30px;
    margin: 10px 15px 10px 15px;
}

.facebook_logo:hover {
    height: 30px;
    width: 30px;
    margin: 10px 15px 10px 15px;

}

.twitter_logo {
    height: 30px;
    width: 30px;
    margin: 10px 15px 10px 15px;
}

.linkedin_logo{
    height: 30px;
    width: 30px;
    margin: 10px 15px 10px 15px;
}

.footer {
    background-color: hsl(216, 53%, 9%); 
}

.attribution {
    margin: 0;
    padding-bottom: 15px;
}